{#
/**
 * @file department.html.twig
 * Default theme implementation to present Department data.
 *
 * This template is used when viewing Department pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_department()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('department') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
